body 
{
    margin: 0;
    padding: 0;
    background-color: #E5FFFB;
}

.form 
{   
    padding: 30px;
    margin: 10%;
    border: solid silver 2px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.form p 
{
    font-size: 18px;
}



input[type=text]
{
    width: 80%;
    padding: 12px 20px;
    box-sizing: border-box;
  }


input[type=submit]
{
    background-color: #04AA6D;
    border: none;
    color: white;
    font-size: 18px;
    padding: 16px 32px;
    text-decoration: none;
    margin-top: 20px;
    cursor: pointer;
  }


input[type=radio]
{
  opacity: 0;
}

table 
  {
    background-color: #04AA6D;
    border: none;
    color: white;
    font-size: 18px;
    padding: 16px 32px;
    text-decoration: none;

  }
  /////////

